<a href="https://colab.research.google.com/github/Mahe-007/Mahe-007/blob/main/Space_Exploration_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import files
uploaded = files.upload()

Saving Space_Corrected.csv to Space_Corrected.csv

In [4]:
import pandas as pd
import io
df = pd.read_csv(io.BytesIO(uploaded["Space_Corrected.csv"]))
df

      Unnamed: 0  Unnamed: 0.1  ...  Rocket Status Mission
0              0             0  ...   50.0         Success
1              1             1  ...  29.75         Success
2              2             2  ...     NaN        Success
3              3             3  ...   65.0         Success
4              4             4  ...  145.0         Success
...          ...           ...  ...     ...            ...
4319        4319          4319  ...     NaN        Failure
4320        4320          4320  ...     NaN        Success
4321        4321          4321  ...     NaN        Failure
4322        4322          4322  ...     NaN        Success
4323        4323          4323  ...     NaN        Success

[4324 rows x 9 columns]

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4324 entries, 0 to 4323
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      4324 non-null   int64
 1   Unnamed: 0.1    4324 non-null   int64
 2   Company Name    4324 non-null   object
 3   Location        4324 non-null   object
 4   Datum           4324 non-null   object
 5   Detail          4324 non-null   object
 6   Status Rocket   4324 non-null   object
 7    Rocket         964 non-null    object
 8   Status Mission  4324 non-null   object
dtypes: int64(2), object(7)
memory usage: 304.2+ KB

In [10]:
df["DateTime"]=pd.to_datetime(df['Datum'])

In [14]:
df["Year"]=df["DateTime"].apply(lambda datetime:datetime.year)
df.head()

   Unnamed: 0  Unnamed: 0.1  ...                   DateTime  Year
0           0             0  ...  2020-08-07 05:12:00+00:00  2020
1           1             1  ...  2020-08-06 04:01:00+00:00  2020
2           2             2  ...  2020-08-04 23:57:00+00:00  2020
3           3             3  ...  2020-07-30 21:25:00+00:00  2020
4           4             4  ...  2020-07-30 11:50:00+00:00  2020

[5 rows x 11 columns]

In [20]:
!pip install iso3166
import iso3166
from iso3166 import countries
df["Country"]=df["Location"].apply(lambda location:location.split(",")[-1])
df.head()

Requirement already satisfied: iso3166 in /usr/local/lib/python3.7/dist-packages (2.0.2)

   Unnamed: 0  Unnamed: 0.1  ...  Year      Country
0           0             0  ...  2020          USA
1           1             1  ...  2020        China
2           2             2  ...  2020          USA
3           3             3  ...  2020   Kazakhstan
4           4             4  ...  2020          USA

[5 rows x 12 columns]

In [24]:
df["Day"]=df['Datum'].apply(lambda datum:datum.split()[0])
df.head()

   Unnamed: 0  Unnamed: 0.1 Company Name  ...  Year      Country  Day
0           0             0       SpaceX  ...  2020          USA  Fri
1           1             1         CASC  ...  2020        China  Thu
2           2             2       SpaceX  ...  2020          USA  Tue
3           3             3    Roscosmos  ...  2020   Kazakhstan  Thu
4           4             4          ULA  ...  2020          USA  Thu

[5 rows x 13 columns]